
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.paper {
    width: 150px;
    height: 38px;
    background-color: #fff;
    border: 1px solid black;
    z-index: 99;
    display: flex;
    align-items: center;
    border-radius: 6px;
    margin-left: 10px;
}

.close {
    cursor: pointer;
    outline: none;
    border-radius: 6px;
}

.color1 {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: tomato;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.color2 {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: rgb(94, 226, 94);
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.color3 {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: blue;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

.header {
    text-align: center;
    background-color: rgb(143, 238, 238);
}

.label {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 47px;
    background-color: azure;
}

.btn {
    height: 38px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(231, 228, 228);
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
}

.fill {
    display: flex;
}

.btn_fill {
    height: 38px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(231, 228, 228);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    outline: none;
}

.btn .btn_fill:hover {
    background-color: rgb(253, 249, 249);
}

.canvas {
    cursor: crosshair;
    border: 6px solid black;
    z-index: 1;
}

.main_canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}